.main-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}




.section1{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}




.section1-logo-container{
    display:flex;
    justify-content: space-between;
    background-color:#FFFAF5;
    width:1440px;
    height:70px;

}
.section1-two-buttons{
    display:flex;
    flex-direction:row;
}
.section1-book-appointment-button-border{
    width:200px;
    height:38px;
    border-radius:50px;
    /* border-width:1px; */
    /* padding-top:8px; */
    padding-right:12px;
    padding-bottom:8px;
    padding-left:12px;
    gap:12px;
    background-color:#F8943F;
    color:white;
    font-size:16px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight:600;
    font-family:figtree;
}
.section1-book-appointment-png{
    width:19px;
    height:21px;
    margin-top:5px;
    padding-right:5px;
}
.section1-phone-button{
    width:154px;
    height:38px;
    border-radius:70px;
    border-width:1px;
    /* padding-top:8px; */
    padding-right:12px;
    padding-bottom:8px;
    padding-left:12px;
    gap:12px;
    border-color:#462512;

}
.section1-phone-button-png{
    padding-right:5px;
    padding-top:2px;
        width:19px;
    height:21px;
}
/* .section1-book-appointment-button{
    width:138px;
    height:11px;
    font-family:figtree;
    font-weight:600;
    font-size:16px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;

}  */

.hero-container{
    width:967px;
    height:450px;
    background-color:hsl(0, 0%, 82%);
    display:flex;
    /* filter:blur(15px); */
}
.hero-headline-container{
    width:644px;
    height:153px;
    margin-top:149px;
    padding-top:24px;
    padding-right:60px;
    padding-bottom:24px;
    padding-left:60px;
    gap:20px;
    background-image:linear-gradient(to right,#FFFFFF,#FFFFFF);
backdrop-filter:blur(15px);
    
}
.hero-doctor-image{
    width:314px;
    height:406px;
    padding-top:44px;
    /* margin-right:468px; */
}
.hero-login-page{
    width:473px;
    height:450px;
    border-width:1px;
    padding-top:24px;
    padding-bottom:24px;
    padding-right:40px;
    padding-left:40px;
    gap:20px;
    background-color:#FFF9F4;
}
.hero-section{
    display:flex;
    margin-top:10px;
    
}
.hero-input{
    width:393px;
    height:38px;
    border-radius:24px;
    border-width:1px;
    padding-top:14px;
    padding-right:16px;
    padding-bottom:14px;
    padding-left:16px;
    margin-bottom:20px;
    gap:10px;
    border-color:#FFE0C4;
}
.hero-book-consultation-button{
    width:393px;
    height:38px;
    border-radius:24px;
    padding-top:14px;
    padding-right:16px;
    padding-bottom:14px;
    padding-left:16px;
    gap:10px;
    background-color:#f58420;
    color:#FFFFFF;
    font-family: 'Figtree';
    weight:600;
    border-style:bold;
    line-height:100%;
    letter-spacing: 0%;
}
.hero-checkbox{
    width:19px;
    height:19px;
    border-radius:4px;
    border-width:1px;
    border-color:#FFE0C4;
    color:#FFFFFF;
}
.checkbox-and-condition{
    display:flex;

}
.hero-info{
    width:1440px;
    height:60px;
    background-color: #FFF9F4;
}
.hero-info-png-and-name{
    display:flex;
    margin-left:15px;

}
.hero-info-span{
    color:#f58420;
    width:82px;
    height:10px;
    font-family: 'Figtree';
    font-weight: 700;
    font-size:14px;
    line-height:130%;
    margin-top:50px;
    gap:12px;
}
.hero-info-png{
    width:34.6px;
    height:38.28px;
    color:#FFFFFF;
    border-color:#4D2C19;
    border-width:1.57px;
    padding-right:12px;
    padding-left:12px;
    padding-top:12px;
    /* padding-bottom:12px; */
    gap:12px;

}
.hero-info-whole-name{
    padding-top:10px;
}
.hero-all-info{
    display:flex;
}

























.section2-heading{
    
     width:355px; 
    height:31px;
    font-family:figtree; 
    weight:700; 
     style:bold;
    /* background-color:green; */
    color:#1A1A1A; 
    font-size:24px;
    margin-top:80px;
    line-height: 130%;
    

     /* text-align: center; */

}
.section2-heading-para-container{
        display:flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-teeth-image{
    border-radius:20px;
    width:320px;
    height:332px;
}
.section2-para{
    width:880px;
    height:26px;
    font-family:Figtree;
    weight:400px;
    /* color:#474747; */
    color:red;
    /* background-color: blue; */
}
.section2-root-canal-container{
    padding-left:20px;
    /* width:640px;
    height:332px;
    border-radius:20px;
    border-width:10px;
    border-color:#FFE0c4; */

}
.root-canal-treatment-heading{
    width:203px;
    height:24px;
    font-family:figtree;
    font-weight:700;
    line-height: 100%;
    font-size:20px;
    color:#1A1A1A;
}
.root-canal-treatment-para{
    width:256px;
    height:21px;
    font-family:'Figtree';
    weight:400px;
    color:#474747;
    line-height: 130%;
    font-size:16px;
}
.root-canal-treatment-type{
    width:99px;
    height:19px;
    weight:700;
    font-size:16px;
}
.root-canal-tretement-list{
 color:#474747;
 weight:400px;
}
.root-canal-starting-price-heading{
    color:#f58420;
    weight:600; 
    width:147px;
    height:18px;
}
.root-canal-starting-price{
    color:#1A1A1A;  
    width:77px;
    height:24px;
    font-weight:700;
    font-size:20px;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: bold;
    font-weight:700;
    

}
.rott-cancal-get-free-constulation-button{
    background-color:#f58420;
    border-radius: 50px;
    padding-top:8px;
    padding-right:20px;
    padding-bottom:8px;
    padding-left:20px;
    color:#FFFFFF;
    /* cursor: pointer; */
}
.section2-real{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.section2{
    display:flex;
    flex-direction:row;
    width:1320px;
    height:332px;
    gap:40px;
    justify-content:center;
}
.sction2-main-container{
    display:flex; 
    flex-direction:row;
    justify-content:center;
    border-style:solid;
    border-width:1px;
    border-radius:20px;
    border-color:#FFE0c4;

}
.sction2-main-container2{
        display:flex; 
    flex-direction:row;
    border-style:solid;
    border-width:1px;
    border-radius:20px;
    border-color:#FFE0c4;

}


/* .section2-root-canal-container{
    padding-left:20px;
    width:640px;
    height:332px;
    border-radius:20px;
    border-width:10px;
    

} */
















.section3{
    width:1440px;
    height:316px;
    gap:20px;
    margin-top:80px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */

}
.section3-heading{
 display: flex;
 flex-direction:column;
 align-items: center;
}
.section3-maine-images-container{
        display: flex;
        justify-content: center;
        align-items: center;
        /* overflow: auto; */
}
.section3-images-container{
    width:1300px;
    height:231px;
    gap:40px;
}
.section3-image-1{
    width:295px;
    height:200px;
    border-radius:20px;
}
.section3-image1-name{
    display:flex;
    justify-content: space-between;
    width:295px;
    height:19px;
}
.section3-location{
    color:#f58420;
}

























.section4{
        width:1181px;
        height:525px;
        gap:40px;
        margin-top:80px;
        /* display: flex;
        flex-direction: column;
        align-items: center; */

        /* display: flex;
        flex-direction: column; */
        
}
.section4-heading-and-para-container{
    width:1181px;
    height:63px;
    gap:8px;
    margin-left:40%;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    /* text-align: center; */
}
.section4-heading{
    /* text-align: center; */
    margin-left:200px;
    width:287px;
    height:29px;
    font-family: 'figtree';
    font-weight:700px;
    font-size:24px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#303030;
}
.section4-para{
    /* text-align: center; */
    width:684px;
    height:26px;
    font-family: 'figtree';
    font-size:20px;
    line-height: 130%;
    letter-spacing: 0%;

}
.section4-bottom-container{
    width:1181px;
    height:422px;
    gap:40px;
}
.section4-bottom-container1{
    width: 793px;
    height:422px;
    gap:40px;
    /* margin-bottom:50px; */
    /* margin-top:100px; */
}
.section4-bottom-container1-content{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width:624px;
    height:32px;
    gap:32px;
    /* margin-top:50px; */
    margin-bottom:40px;
}
.section4-bottom-container1-content-core{
    font-family: 'figtree';
    font-weight:600;
    font-size:16px;
    line-height: 100%;
    letter-spacing: 0%;
    
}
.section4-bottom-container1-plus-image{
    width:16px;
    height:16px;
    color:#EA7D28;
    margin-top:18px;  
}
.section4-bottom-container2{
    width:461px;
    height:350px;
    border-radius: 20px;
    /* margin-top:50px;
    padding-top:50px; */
}
.section4-tow-bottom-container{
    display:flex;
    flex-direction:row;
    margin-top:100px;
}
.city{
    margin:0;
    /* margin-top:20px; */
    text-align:left;
}


















.section5{
    width:1320px;
    height:479px;
    gap:20px;
    margin-top:80px;
}
.section5-heading-and-para-container{
    width:820px;
    height:61px;
    gap:4px;
}
.section5-heading{
    width:251px;
    height:31px;
    font-family: 'figtree';
    font-weight:700;
    font-size:24px;
    line-height:130%;
    letter-spacing:0%;
    color:#303030;
    margin-left:70%;
}
.section5-para{
    width:820px;
    height:26px;
    font-family: 'figtree';
    font-weight:400;
    font-size:20px;
    line-height:130%;
    letter-spacing: 0%;
    color:#474747;
    margin-left:40%;
    text-align:center;
}

.section5-all-images{
    width:1320px;
    height: 398px;
    gap:24px;
    
}
.section5-first-image{
    width:224px;
    height:350px;
    border-radius:10px;
    margin-left:20px;
}
.section5-images-name-treatment-city{
    display:flex;
    justify-content: space-between;
    width:224px;
    height:40px;
    margin-left:20px;

}
.section5-all-images-main-container{
    display:flex;
    margin-top:50px;

}
.section5-treatment-color{
    color:#F58420;
}
.city{
    margin-left:20px;
}













.section6{
    width:1320px;
    height:189px;
    border-radius:10px;
    padding-top:16px;
    padding-right:12px;
    padding-bottom:16px;
    padding-left:12px;
    gap:20px;
    background-color: #FFF9F4;
    margin-top:80px;
}
.section6-heading{
    width:542px;
    height:31px;
    font-family:'Figtree';
    font-weight: 700;
    border-style:bold;
    font-size:24px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #303030;
    padding-left:35%
}
.section6-bottom-container{
    width:1296px;
    height:106px;
    gap:24px;
}
.section6-inputs-container{
    width:1296px;
    height:44px;
    gap:24px;
}
.section6-input{
    width:416px;
    height:38px;
    border-radius:24px;
    border-width:1px;
    padding-top:17px;
    padding-right:16px;
    padding-bottom:17px;
    padding-left:16px;
    gap:10px;
    background-color:#FFFFFF;
    border-color:#FFE0C4;
}
.section6-terms-and-condition-container{
    width:1296px;
    height:38px;
    gap:24px;
    display: flex;
    margin-top:50px;
    justify-content: center;
}
.section6-terms-and-condition{
    width:546px;
    height: 19px;
    gap:8px;
    margin-top:10px
}
.section6-button{
    width:306px;
    height:38px;
    gap:4px;
    border-radius:24px;
    /* padding:16px; */
    gap:10px;
    background-color:#F58420;
    color:#FFFFFF;
}





#backToTopBtn {
  position: fixed;
  bottom: 20px;    
  right: 20px;      
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: #303030;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;   
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth; 
}
.scrollButton{
    background-color:blue;
    border-radius: 10px;
}












